@import '../../shared/variables.scss';

.Header {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    padding: 0 3rem;
}

.Header__left {
    display: flex;
}

.Header__input {
    align-self: center;
}

.Header__logo {
    margin-right: 6rem;
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient(
        to right,
        $color-blue-light-1,
        $color-blue-dark-2,
        $color-blue-dark-1
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    & > a {
        text-decoration: none;
        color: transparent;
    }
}

.Header__nav {
    font-size: 2rem;
}

.Header__input {
    width: 35%;
}

.Header__list {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-weight: bold;
}

.Header__item {
    align-self: center;
    & > a {
        text-decoration: none;
        color: #003459;
    }
}
